body{
   font-family: Helvetica, Arial, sans-serif;
   color: white;
   background-color: #333333;
}

a:link, a:visited {
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center; 
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: red;
}

.links {
  clear:both;
  float:left;
  padding: 10px;
  border-color: #cc0000;
  border-width: thin;
  border-style: groove;
  width: 225px;
  height: 80px;
}

.output{
  clear: both; 
  float:left;
  margin-top: 20px;
}

.title
{
 font-weight: bolder;
}
